* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: arial;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}

.wrapper {
    margin: 0 auto;
}

/*----- Navigation Start -----*/

.header {
    border-bottom: 1px solid rgba(255,255,255,.1)!important;
}

.logo{
    /* width: 25%; */
    width: 50%;
    display: inline-block;
    overflow: hidden;
    padding: 16px 30px 12px 30px;
}
.logo-img{
    width: 100%;
}
.website-title{
    display: inline-block;
    margin-left: 12px;
    margin-bottom: 0;
    font-size: 24px;
    color: #26ABFF;
    text-transform: uppercase;
}

.navbar-button{
    border: 2px solid #fff;
}

.navbar-menu-icon i{
    padding: 5px 0;
    color: #fff;
}
.navbar-custom ul{
    display: block;
    margin: 0;
    padding: 0;
}
.navbar-custom ul li{
    position: relative;
    display: inline-block;
    margin-bottom: 0;
}
.navbar-custom ul li a{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    display: block;
    font-size: 16px;
    padding: 30px 15px;
    position: relative;
    text-transform: capitalize;
    opacity: 0.7;
}
.navbar-custom ul li a:hover{
    color: #fff ;
    transition: 0.4s;
    opacity: 1;
}
/* .nav-icon{
    color: #fff;
} */

/*----- Navigation End -----*/



/*----- About Us (Home) Start -----*/
.title-section {
    max-width: 450px;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
}
.title-section p {
   color: #ffffff;
   margin-top: 20px;
}
.title-section h1 {
   font-size: 48px; 
   font-weight: 900;
}

.wrapper{
    background: url("../images/bg.jpg")center center no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.about-us-home-content h2{
    font-size: 24px;
    line-height: 1;
    margin-bottom: 10px;
    padding: 10px 0px;
    color: #fff;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 0;
}
.about-us-home-content {
    text-align: center;
    color: #fff;
}

.about-us-home-content p{
    font-size: 15px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
.about-us-home-content a{
    color: #fff;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
.about-us-home-content a:hover{
    font-weight: bold;
}

/*----- About Us (Home) End -----*/



/*----- Responsive Design Start -----*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .navbar-brand {
    width: 60%;
    }
    .logo {
        padding: 0;
    }
    .website-title {
        font-size: 20px;
    }
    .navbar-light .navbar-brand {
        display: contents;
    }
    .navbar-custom ul {
        text-align: center;
    }
    .about-us-home-content {
        margin-top: 20px;
    }
    .navbar-custom ul li{
    display: block;
    }
    .navbar-custom ul li a{
    padding: 15px;
}
}

/*----- Responsive Design End -----*/






